.title {
  position: relative;
  width: fit-content;
  cursor: pointer;
}

.title::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 0px;
  height: 4px;
  background-color: #ffd701;
  transition: all ease-in-out 0.3s;
}

.title:hover::before {
  width: 90%;
}

.back-to-home-btn {
  background-color: #ffe353;
  transition: all ease-in-out 0.3s;
}

.back-to-home-btn:hover {
  background-color: #d6b823;
  color: #121212;
}

.watch-poster {
  border-radius: 27px;
  padding-left: 5px;
}

.movie-card {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

img {
  height: 90% !important ;
  width: 100% !important;
  object-fit: cover;
}

.movie-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  transform: scale(1.02);
}

.movie-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorite-icon {
  transition: transform 0.2s ease;
  font-size: 2rem;
  color: #ffd700;
  &:hover {
    transform: scale(1.1);
  }

  &.fa-solid {
    animation: heartBeat 0.3s ease-in-out;
  }
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
