<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg bg-warning fixed-top" [ngClass]="{ scrolled: isScrolled }">
  <div class="container-fluid">
    <!-- App Title/Logo -->
    <a class="navbar-brand ms-3" routerLink="/">
      <img src="../../assets/logo.png" class="navbar-logo" alt="logo" />
    </a>

    <!-- Toggle Button for Mobile -->
    <button
      class="navbar-toggler mb-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Menu -->
    <div class="collapse navbar-collapse bg-warning" id="navbarNav">
      <div class="ms-auto d-flex align-items-center flex-column flex-lg-row">
        <!-- Language Selector -->
        <div class="dropdown my-2 my-lg-0">
          <button
            class="btn btn-warning dropdown-toggle"
            type="button"
            id="languageDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            En
          </button>
          <ul class="dropdown-menu" aria-labelledby="languageDropdown">
            <li><a class="dropdown-item" href="#">En</a></li>
            <li><a class="dropdown-item" href="#">Es</a></li>
            <li><a class="dropdown-item" href="#">Fr</a></li>
          </ul>
        </div>


 

        <!-- Wishlist Link -->
        <div class="wish-list pb-3 d-flex align-items-center gap-3 mt-3 mt-lg-0 mx-lg-5">
          <a
            routerLink="/wishlist"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
          >
            <img src="../../assets/heart.png" alt="wishlist" class="wishlist-icon" />
          </a>
          <a
            class="nav-link text-dark fw-bold text-decoration-none"
            routerLinkActive="active-link"
            routerLink="/wishlist"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
          >
            Watchlist <span class="badge bg-dark rounded-4 postion-absolute start-100 translate-middle ms-2">{{watchCount}}</span>
          </a>
        </div>

      </div>
    </div>
  </div>
</nav>
