@if(movie) {
<app-up-to-top></app-up-to-top>
<div
  class="container movie-card"
  [ngStyle]="{
    'background-image':
      'linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(' +
      'https://image.tmdb.org/t/p/w1280/' +
      movie.backdrop_path +
      ')'
  }"
>
  <div class="row mt-4">
    <div class="col-md-4">
      <img
        [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
        alt="Movie Poster"
        class="movie-poster"
      />
    </div>

    <div class="col-md-8 movie-details">
      <div class="d-flex align-items-center justify-content-between">
        <h1 class="movie-title text-light">
          {{ movie.title }}
        </h1>
        <i
          [class]="heartIconClass"
          (click)="toggleWishlist()"
          [style.cursor]="'pointer'"
        ></i>
      </div>

      <p class="release-date">
        {{ movie.release_date }}
      </p>

      <div class="rating d-flex align-items-center">
        <span *ngFor="let star of getStars(movie.vote_average); let i = index">
          <i
            class="fa"
            [ngClass]="{
              'fa-star text-warning': star === 1,
              'fa-star-o text-secondary': star === 0
            }"
          ></i>
        </span>
        <span class="rating-text ms-4">({{ movie.vote_count }}) review</span>
      </div>

      <p class="movie-description">
        {{ movie.overview }}
      </p>

      <div class="genres">
        <span *ngFor="let genre of movie.genres" class="badge genre">
          {{ genre.name }}
        </span>
      </div>

      <div class="d-flex align-content-center justify-content-between w-50">
        <p class="movie-info">
          <strong>Duration:</strong> {{ movie.runtime }} min.
        </p>

        <p class="movie-info">
          <strong>Languages:</strong>
          <span *ngFor="let lang of movie.spoken_languages; let i = index">
            {{ lang.english_name
            }}<span *ngIf="i !== movie.spoken_languages.length - 1">, </span>
          </span>
        </p>
      </div>
      <div class="d-flex gap-4 my-3">
        <img
          *ngFor="let company of movie.production_companies"
          [src]="'https://image.tmdb.org/t/p/w500' + company.logo_path"
          alt="Company Logo"
          width="auto"
          height="40px"
          style="object-fit: contain"
        />
      </div>
      <div class="my-5">
        <a [href]="movie.homepage" class="genre text-decoration-none"
          >Website
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-link-45deg"
            viewBox="0 0 16 16"
          >
            <path
              d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"
            />
            <path
              d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"
            /></svg
        ></a>
      </div>
    </div>
  </div>
</div>

<hr class="horizontalRol" />

<div class="container">
  <app-recommendations [movieId]="movie.id"></app-recommendations>
</div>
}@else {
<app-not-found
  [message]="'404 - Movie not found with ID: ' + route.snapshot.params['id']"
></app-not-found>
}
