<nav
  class="navbar navbar-expand-lg navbar-light bg-warning fixed-top "
  [ngClass]="{ scrolled: isScrolled }"
>
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/logo.png" class="navbar-logo me-2" alt="logo" />
    </a>

    <a routerLink="/movies" class="navbar-brand MovieLink">Movies</a>

    <!-- Mobile Toggle Button -->
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      (click)="toggleSidebar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Full Menu for Large Screens -->
    <div class="collapse navbar-collapse d-none d-lg-flex" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        

        <!-- Language Selector Dropdown -->
        <li class="nav-item dropdown mx-2">
          <button
            class="btn btn-light dropdown-toggle"
            type="button"
            id="languageDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ selectedLanguage }}
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" (click)="changeLanguage('en-US')"
                >English (en-US)</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="changeLanguage('es-ES')"
                >Spanish (es-ES)</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="changeLanguage('fr-FR')"
                >French (fr-FR)</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="changeLanguage('ar-EG')"
                >Arabic (ar-EG)</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="changeLanguage('zh-CN')"
                >Chinese (zh-CN)</a
              >
            </li>
          </ul>
        </li>

        <!-- Wishlist Section -->




       
<li class="nav-item">
  <a routerLink="/wishlist" class="position-relative d-inline-flex align-items-center gap-2 text-decoration-none">
    <div class="position-relative">
      <img src="../../assets/heart.png" alt="wishlist" class="wishlist-icon"/>
      <span class="position-absolute top-0  start-50 translate-middle badge  rounded-pill  text-dark bg-light" 
            style="margin-top: -5px; margin-left: -10px;">
        {{ watchCount }}
      </span>
    </div>
    <span class="text-white fw-bold">WatchList</span>
  </a>
</li>
        <li class="nav-item ms-2">
          <span  (click)="signOut()"class="fw-bold" role="button">SingOut</span>
        </li>
      </ul>
    </div>

    <!-- Sidebar for Small Screens -->
    <div
      [ngClass]="{ 'show-sidebar': isSidebarOpen }"
      class="sidebar bg-warning"
    >
      <button
        type="button"
        class="btn-close bg-light ms-auto mt-2"
        (click)="toggleSidebar()"
        aria-label="Close"
      ></button>
      <ul class="navbar-nav mt-4 text-center">
        <li class="nav-item dropdown my-2">
          <button
            class="btn btn-light dropdown-toggle w-100"
            type="button"
            id="languageDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ selectedLanguage }}
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" (click)="changeLanguage('en-US')"
                >English (en-US)</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="changeLanguage('es-ES')"
                >Spanish (es-ES)</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="changeLanguage('fr-FR')"
                >French (fr-FR)</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="changeLanguage('ar-EG')"
                >Arabic (ar-EG)</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="changeLanguage('zh-CN')"
                >Chinese (zh-CN)</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item my-4">
          <a routerLink="/wishlist" 
             class="position-relative d-flex align-items-center justify-content-center gap-2 MovieLinkSide">
            <div class="position-relative">
              <img src="../../assets/heartSide.png" alt="wishlist" class="wishlist-icon"/>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark-subtle"
                    style="margin-top: -5px; margin-left: -10px;">
                {{ watchCount }}
              </span>
            </div>
            <span class="text-white fw-bold">WatchList</span>
          </a>
        </li>
        <li class="nav-item my-4">
          <span  (click)="signOut()"class="fw-bold" role="button">SingOut</span>
        </li>


       
      </ul>
    </div>
  </div>
</nav>
