body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: #3f3f3f;
  border-radius: 2px;
}

body::-webkit-scrollbar-track {
  background: #ffc107;
}

.custom-toast1 {
  background-color: #198754 !important;
  color: white !important;
  box-shadow: none !important;
  width: 500px !important;
}

.custom-toast2 {
  box-shadow: none !important;
  width: 500px !important;
}

::selection {
  background-color: #ffc107;
  color: #ffffff;
}

